html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
canvas {
	height: 100%;
	width: 100%;
}

#all {
	height: 100%;
	width: 100%;
	background-color: #ccc;
	position: relative;
	overflow: hidden;
}

#ground{
	height: 100%;
	width: auto;
	display: inline-block;
	position:absolute;
}

#menu {
	height:100%;
	width:20%;
	background-color: red;
	display: none;
	position: relative;
}